@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');


h1{
    color: rgb(243, 223, 197);
    text-shadow: 4px 4px 4px #000000;
    font-family: 'Chewy', cursive;
    font-size: 60px;
    text-align: center;
}

.Cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.Buttons{
    display: flex;
    gap: 1rem;
}

button{
    cursor: pointer;
    width: 150px;
    height: 40px;
    border: unset;
    border-radius: 32px;
    font-size: 22px;
    font-family: 'Chewy', cursive;
    background-color: rgb(0, 0, 0);
    color: rgb(243, 223, 197);
}

.Next:hover{
    background-color: green;
}

.Previous:hover{
    background-color: red;
}